/.DS_Store
/.github
/htdocs/cache/
/htdocs/user/pages
/htdocs/user/data
/htdocs/user/accounts
/htdocs/user/config
/htdocs/logs
.DS_Store
/htdocs/logs/grav.log
/htdocs/tmp
/htdocs/user/pages/02.typography/default.md
/htdocs/images/8
/htdocs/images
