/* 
 * RESET
 */

 * {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
}
img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  font-family: inherit;
}



/* 
 * TYPOGRAPHIES
 */

@font-face {
    font-family: 'FedraSansPro';
    src: url('FedraSansPro-Medium.eot');
    src: local('fonts/Fedra Sans Pro Medium'), local('FedraSansPro-Medium'),
      url('fonts/FedraSansPro-Medium.eot?#iefix') format('embedded-opentype'),
      url('fonts/FedraSansPro-Medium.woff2') format('woff2'),
      url('fonts/FedraSansPro-Medium.woff') format('woff'),
      url('fonts/FedraSansPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }


  @font-face {
    font-family: 'FedraSansPro';
    src: url('FedraSansPro-Bold.eot');
    src: local('fonts/Fedra Sans Pro Bold'), local('FedraSansPro-Bold'),
      url('fonts/FedraSansPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('fonts/FedraSansPro-Bold.woff2') format('woff2'),
      url('fonts/FedraSansPro-Bold.woff') format('woff'),
      url('fonts/FedraSansPro-Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: 'FedraSansPro';
    src: url('FedraSansPro-Book.eot');
    src: local('fonts/Fedra Sans Pro Book'), local('FedraSansPro-Book'),
      url('fonts/FedraSansPro-Book.eot?#iefix') format('embedded-opentype'),
      url('fonts/FedraSansPro-Book.woff2') format('woff2'),
      url('fonts/FedraSansPro-Book.woff') format('woff'),
      url('fonts/FedraSansPro-Book.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'FedraSansPro';
    src: url('FedraSansPro-Normal.eot');
    src: local('fonts/Fedra Sans Pro Normal'), local('FedraSansPro-Normal'),
      url('fonts/FedraSansPro-Normal.eot?#iefix') format('embedded-opentype'),
      url('fonts/FedraSansPro-Normal.woff2') format('woff2'),
      url('fonts/FedraSansPro-Normal.woff') format('woff'),
      url('fonts/FedraSansPro-Normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }


  @font-face {
    font-family: 'FedraSansPro';
    src: url('FedraSansPro-Light.eot');
    src: local('fonts/Fedra Sans Pro Light'), local('FedraSansPro-Light'),
      url('fonts/FedraSansPro-Light.eot?#iefix') format('embedded-opentype'),
      url('fonts/FedraSansPro-Light.woff2') format('woff2'),
      url('fonts/FedraSansPro-Light.woff') format('woff'),
      url('fonts/FedraSansPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }

  body {
    font-family: 'FedraSansPro', sans-serif;
  }

  h1 {
    color: red;
    font-size: 30px;
  }

  h2 {
    color: blue;
    font-size: 15px;
    font-weight: 300;
  }

  .message {
    font-size: 20px;
  }

  .typo1 {
   color: black;
   font-size: 10px
   ;/* EGYTPE */

  }

  .typo2 {
    /* Personnalité */

  }



/* 
 * HEADER FOOTER
 */
    .header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-image: url("ima2.png");
      background-repeat:no-repeat;
      background-size:cover;
      z-index: 9999;
    }

    h1 {
      text-align: center;
      color: white;
    }

    .footer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      background-image: url("ima1.png");
      background-repeat:no-repeat;
      background-size:cover;
      z-index: 9999;
    }


/* 
 * BOUTONS
 */

    .button {
      display: inline-block;
      background-color: #FFFFFF;
      border-radius: 30px;
      border: 1px solid #737373;
      color: #383838;
      text-align: center;
      font-size: 28px;
      padding-right: 13px;
      padding-left: 13px;
      padding-bottom: 9px;
      padding-top: 9px;
      cursor: pointer;
      transition: all 0.5s;
      margin: 5px;
      text-decoration: none;
      
    }

    .close {
      display: inline-block;
      background-color: white;
      border-radius: 50%;
      border: 1px solid #737373;
      height: 30px;
      width: 30px;
      color: #383838;
      text-align: center;
      font-size: 25px;
      line-height: 30px;
      padding: 1px;
      cursor: pointer;
      transition: all 0.5s;
      margin: 5px;
      
    }

    .shadow {
      box-shadow: 05px 05px 05px rgba(0, 0, 0, 0.2);
    }

    .white {
      border-color: white;
      color: white;
    }

    .button:hover {
      background-color: rgba(255, 255, 255, 0.8);
    }

    .active {
      background-color: rgba(255, 255, 255, 0.8);
    }
.container-button {
  justify-content: center;
}
.escape-button {
  font-size: 10px;
  height: 10px;
  width: 10px;
  justify-content: center;
 }
  
/*
 * IMAGES EN BACKGROUND (MAISON ET VILLE)
 * LA RESOLUTION DE L'ECRAN IMA : 1920 x 1080
 */

.bg-img {
  display: block;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.blurred {
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

/* 
 * POPINS
 */

    .popin {
      width: 50%;
      max-width: 600px;
      max-height: 600px;
      background: white;
      border-radius: 30px;
      border-color: black;
      text-align: center;
      font-size: 1.5rem;
      padding: 20px;

      /* Centrer horizontalement et verticalement le contenu de la popin */
      display: flex;
      align-items: center;
      /* verticalement */
      justify-content: center;
      /* horizontalement */
      flex-direction: column;

    }

    .popin.big {
      width: 90vw;
      height: 80vh;
      max-width: none;
      max-height: none;
    }
    .popin.big.fixed {
      top: calc( 20vh / 2);
      left: calc( 10vw / 2);
    }
    .popin.fixed {
      position: fixed;
      z-index: 9999;
      top: calc(calc( 100vh - 600px) / 2);
      left: calc(calc( 100vw - 600px) / 2);
    }

    .popin.hidden {
      display: none;
    }

