{% extends 'partials/base.html.twig' %}

{% block content %}

	<img class="bg-img blurred" src="{{ url(page.media|first.url) }}" >

	<div class="popin_outer ">
		<div class="popin credits">
			<h1>{{ page.title|markdown }}</h1>
			<div>{{ page.content|markdown }}</div>
		</div>
	</div>


{% endblock %}

